<meta charset="utf8" />
<meta http-equiv="Content-Language" content="en_CA" />
<title>Hacking 2804</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">

<!-- <meta property="og:url" content="https://" /> -->
<meta property="og:type" content="website" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta name="keywords" content="2804, discrete, website, ottawa, canada, carleton, carleton university" />